version: '3.8'

services:
  jenkins:
    build: .
    ports:
      - "8080:8080"
      - "50000:50000"
    container_name: jenkins
    restart: unless-stopped
    volumes:
      - /opt/jenkins/jenkins_home:/var/jenkins_home


